<?xml version="1.0" encoding="utf-8"?>
<urlRewriting>
	<rule componentName="bitrix:news" path="~/hu/about_us/Default.aspx" matchExpression="^~/hu/about_us[\s]*(?:[\\\/\?\#]|$)" sort="800" helperId="bx-news1" />
	<rule componentName="bitrix:news" path="~/hu/documentation/Default.aspx" matchExpression="^~/ua/documentation[\s]*(?:[\\\/\?\#]|$)" sort="800" helperId="bx-news1" />
	<rule componentName="bitrix:news" path="~/hu/news/Default.aspx" matchExpression="^~/hu/news[\s]*(?:[\\\/\?\#]|$)" sort="800" helperId="bx-news1" />
	<rule componentName="bitrix:news" path="~/hu/production/Default.aspx" matchExpression="^~/ua/production[\s]*(?:[\\\/\?\#]|$)" sort="800" helperId="bx-news1" />
	<rule componentName="bitrix:news" path="~/hu_old/news/Default.aspx" matchExpression="^~/hu/news[\s]*(?:[\\\/\?\#]|$)" sort="800" helperId="bx-news1" />
	<rule componentName="bitrix:news" path="~/hu_old/production/Default.aspx" matchExpression="^~/hu/production[\s]*(?:[\\\/\?\#]|$)" sort="800" helperId="bx-news1" />
	<rule componentName="bitrix:news" path="~/ua/about_us/Default.aspx" matchExpression="^~/ua/about_us[\s]*(?:[\\\/\?\#]|$)" sort="800" helperId="bx-news1" />
	<rule componentName="bitrix:news" path="~/ua/documentation/Default.aspx" matchExpression="^~/ua/documentation[\s]*(?:[\\\/\?\#]|$)" sort="800" helperId="bx-news1" />
	<rule componentName="bitrix:news" path="~/ua/news/Default.aspx" matchExpression="^~/ua/news[\s]*(?:[\\\/\?\#]|$)" sort="800" helperId="bx-news1" />
	<rule componentName="bitrix:news" path="~/ua/production/Default.aspx" matchExpression="^~/ua/production[\s]*(?:[\\\/\?\#]|$)" sort="800" helperId="bx-news1" />
</urlRewriting>