<?xml version="1.0" encoding="utf-8"?>
<urlRewriting>
	<rule componentName="bitrix:news" path="~/en/news/Default.aspx" matchExpression="^~/en/news[\s]*(?:[\\\/\?\#]|$)" sort="800" helperId="bx-news1" />
	<rule componentName="bitrix:news" path="~/en/production/Default.aspx" matchExpression="^~/en/production[\s]*(?:[\\\/\?\#]|$)" sort="800" helperId="bx-news1" />
	<rule componentName="bitrix:news" path="~/ua/news/Default.aspx" matchExpression="^~/ua/news[\s]*(?:[\\\/\?\#]|$)" sort="800" helperId="bx-news1" />
	<rule componentName="bitrix:news" path="~/ua/production/Default.aspx" matchExpression="^~/ua/production[\s]*(?:[\\\/\?\#]|$)" sort="800" helperId="bx-news1" />
	<rule componentName="bitrix:news" path="~/ru/production/Default.aspx" matchExpression="^~/ru/production[\s]*(?:[\\\/\?\#]|$)" sort="800" helperId="bx-news1" />
	<rule componentName="bitrix:news" path="~/hu/production/Default.aspx" matchExpression="^~/hu/production[\s]*(?:[\\\/\?\#]|$)" sort="800" helperId="bx-news1" />
	<rule componentName="bitrix:news" path="~/ru/news/Default.aspx" matchExpression="^~/ru/news[\s]*(?:[\\\/\?\#]|$)" sort="800" helperId="bx-news1" />
	<rule componentName="bitrix:news" path="~/hu/news/Default.aspx" matchExpression="^~/hu/news[\s]*(?:[\\\/\?\#]|$)" sort="800" helperId="bx-news1" />
</urlRewriting>