<?xml version="1.0" encoding="utf-8" ?>
<solutions>
	<solution id="Bitrix.CommunitySite" path="solution" sort="300">
		<title>Сайт сообщества</title>
		<description>
		<![CDATA[
		<p>Готовое решение содержит базовый функционал, необходимый для создания сайта сообщества.</p>
		<p>Сайт сообщества дает каждому пользователю возможность вести свой блог. Участники сообщества могут общаться на форумах, а также обмениваться личными сообщениями.</p>
		]]>
		</description>
		<image>solution/images/solution.png</image>
	</solution>
</solutions>