/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow-x: hidden;
	font: 12px/18px Arial, sans-serif;
	height: 100%;
}
body > form{
    height:100%;
    z-index:-1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

.wrapper {
	width: 100%;
	min-width: 980px;
	min-height: 100%;
    background: url(./img/body.png);
    position:relative;
    z-index:0;
}
.w980{
	width: 980px;
	margin: 0 auto;
	position: relative;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 47px;
	background: url(./img/bgHeader.jpg) repeat;
}

 ul.head_menu {
	/*margin-left: 47px;*/
}

.head_menu li{
	float: left;
height: 35px;
padding-right: 20px;
padding-left: 20px;
border-right: 1px solid #c8d1d6;
padding-top: 12px;
}

.head_menu li.first{
	border-left: 1px solid #c8d1d6;

}
.head_menu li a{
	text-decoration: none;
	font-family: 'open_sanssemibold';
	font-size: 12px;
	color: #373a3f;
}

.lang {
  width: 50px;
float: right;
margin-right: 64px;
margin-top: 17px;
}


ul.lang li {
    list-style-type: none;

}
ul.lang li.fir{
	background: url(./img/ul.png) no-repeat;
height: 21px;
width: 221px;
padding-top: 9px;
padding-left: 27px;
color: #ffffff;
}
.lang li ul li{
	width: 113px;
height: 27px;
line-height: 34px;
float: left;
list-style-type: none;
background: #000000;
}

ul.l_nt{
	margin-left: -27px;
width: 112px;
padding-top: 3px;
z-index: 1000;
position: absolute;

}
.lang li ul li a{
	color: #ffffff;
	text-decoration: none;
padding: 0 0 0px 25px;
}



.search{
	background: #3e444b;
	height: 125px;
	border-bottom: 1px solid #292d32;
}
.search img{
	float: left;
	margin-top: 18px;
}
.search .w980 > ul{
z-index: -500;
float: right;
margin-right: 0px;
}
.search .w980 > ul li{
	float: left;
	width: 31px;

}
.search .w980 > #search-form{
	height: 32px;
width: 301px;
position: absolute;
right: 0px;
top: 72px;
background: #ffffff;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}
.search .w980  input{
	height: 24px;
	width: 279px;
	border: 1px solid #d4d4d4;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-top: 2px;
	margin-left: 2px;
	background: #f5f5f5;
	padding-left: 16px;
	outline: none;
	}
.search .w980  input.button{
	background: url(./img/search_button.png) no-repeat;
	position: absolute;
	top: 9px;
	right: 2px;
	width: 10px;
	border: none;
	outline: none;
}


/***************************slider************************/
.slider { 
	width:100%; 
	position:relative;
	margin: 0 auto;
}
.slider-content {
	width:100%;
	height:271px;
	overflow: hidden;
	position:relative;
}
.slide {
	width:100%;
	height:100%;
	position: relative;
}
.slide img {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: -1;
	margin-left: -960px;
}
.slider-controls {
	position:absolute;
	right: 0px;
	bottom:12px;
	text-align:center;
}
.slider-controls .control-slide {
	margin:2px;
	display:inline-block;
	width:19px;
	height:19px;
	overflow:hidden;
	text-indent:-9999px;
	background:url(./img/radioBg.png) center bottom no-repeat;
}
.slider-controls .control-slide:hover {
	cursor:pointer;
	background-position:center center;
}
.slider-controls .control-slide.active {
	background-position:center top;
}

.sl_provoda{
background: #2e353b;
opacity: 0.6;
margin-top: 53px;
padding: 8px 0 10px 0;
width: 810px;

}
.sl_provoda p{
	text-transform: uppercase;
    font-family: 'open_sanssemibold';
    font-size: 24px;
    color: #ffffff;
    padding: 15px;
}
.sl_info{
	margin-top: 30px;

}
.sl_info p{
padding: 18px;
background: #ffffff;
opacity: 0.7;
width: 406px;
margin-left: 160px;
height:53px;
}
a.knopka {
background: url(./img/sl-button.jpg) repeat-x;
border: none;
height: 90px;
width: 160px;
color: #ffffff;
font-family: 'open_sansregular';
font-size: 15px;
text-decoration: none;
line-height: 90px;
text-align: center;
float: left;
}
a.knopka span{
	display: block;
background: url(./img/n.png) 138px 35px no-repeat;
}
/******************news***********************/
.n_news{
	height: 12px;
	background-color: #495962;
}
.n_news .w980> #news-form{
	width: 279px;
border: 2px solid #2f4049;
float: left;
padding-top: 19px;
padding-bottom: 12px;
padding-left: 13px;
}

.n_news .w980> #news-form img{
	float: left;
padding-right: 5px;
}
.n_news .w980> #news-form h2{
	float: left;
    font-family: 'open_sansbold';
    font-size: 16px;
    color: #ffffff;
    padding-right: 25px;

}

input.button{
	background: url(./img/n2-arrow.png) no-repeat ;
	border:none;
	outline: none;
}
input.button2{
	background: url(./img/n-arrow.png) no-repeat;
	border:none;
	outline: none;
}
.news_right{
height: 60px;
background: #5b6971;
width: 683px;
float: right;
}
.news_right > img{
	float: left;
	padding-top: 7px;
padding-left: 11px;

}
.news_right h4{
float: left;
font-family: 'open_sansbold';
font-size: 14px;
color: #ffffff;
padding-left: 11px;
padding-top: 18px;
padding-bottom: 10px;
}
.news_right h4 img{
padding-right: 27px;
padding-right: 15px;

}
.news_right p{
padding-right: 50px;
padding-top: 14px;
}
.news_right a{
    font-family: 'open_sanslight';
    font-size: 13px;
    color: #dddddd;
    text-decoration: none;
}
.news_right a:hover {
	text-decoration: underline;
	}
/* Middle
-----------------------------------------------------------------------------*/
.content {
    background: url("./img/content_bg.png") center 0px no-repeat;
    min-height:340px;
}
.cont_bg{
    position: absolute;
    top: 266px;
    left: 595px;
}
.column{
width: 305px;
float: left;
padding-right: 31px;
padding-top: 74px;

}
.last_c{
	padding-right: 0px!important;
}
.column img{
	border: 1px solid #bdbec0;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
}
.column h1{
    font-family: 'open_sanscondensed_light';
    font-size: 32px;
    color: #373a3f;
    text-transform: uppercase;
    padding-bottom: 20px;

}
.column h3{
    font-family: 'open_sansbold';
    font-size: 15px;
    color: #6a6e75;
    text-transform: uppercase;
}
.column p,
.column .preview-text {
    font-family: 'open_sansregular';
    font-size: 13px;
    color: #6a6a6b;
padding-bottom: 15px;
line-height: 21px;
padding-top: 7px;
}

.column a{
	font-family: 'open_sansregular';
    font-size: 13px;
    color: #f85548;
    text-decoration: none;
}
.column ul.c_news li a{
	color: #6a6e75;
}
.column a.butt{
	background: url(./img/news-butt.jpg) repeat-x;
border: none;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
margin-top: 25px;
color: #ffffff;
font-size: 14px;
padding: 8px 9px 8px 16px;
display: block;
width: 136px;
}
.column a.butt span{
	display: block;
	background: url(./img/str.png) 127px 5px no-repeat;
}
.column a:hover{
	text-decoration: underline;
}
.column ul li{
	border-bottom: 1px solid #e2e2e2;
padding-bottom: 0px;
padding-top: 10px;
}
.column ul li h4{
	    font-family: 'open_sansbold';
	    font-size: 14px;
	    color: #f85548;
}
.column ul li h5{
	 font-family: 'open_sansbold';
	    font-size: 16px;
	    color: #6a6e75;
	    text-transform: uppercase;
}
.column ul li.last{
	border-bottom: none;
}

.vacancy{
    width: 665px;
    float: left;
}
.vacancy_inf{
    width: 285px;
    float: right;
    margin-top: 112px;

}
.vacancy_inf li{
    list-style: outside;
    font:13px 'open_sansregular';
    color: #6a6a6b;
    line-height: 21px;
}
.vacancy > .vacancy_top > img{
    float: left;
    margin-right: 20px;
    margin-top: 18px;
}
.vacancy > .vacancy_top > p{
    font-family: 'open_sanssemibold';
    font-size: 16px;
    color: #6a6a6b;
    margin-top: 31px;
    width: 405px;
    float: right;
    line-height: 20px;
    margin-right: 21px;
}

.v_ul{
    margin-top: 17px;

}
.v_ul > li{
    cursor: pointer;
    border-bottom: 1px solid #c8d1d6;
    padding-bottom: 21px;
    padding-top: 21px;
}
.v_ul > li.first{
    border-top: 1px solid #c8d1d6;

}
.v_ul li a,
.v_ul li h5 {
    font-family: 'open_sansregular';
    font-size: 14px;
    color: #f85548;
    width:250px;
    display:inline-block;
}
.v_ul > li > span{
    font-family: 'open_sansregular';
    font-size: 14px;
    color: #6a6e75;
    margin-left: 50px;
    display:inline-block;
    width:200px;
}
.v_ul > li a.last_a,
.v_ul > li div.last_a {
    color: #6a6e75;
    text-decoration: none;
    font-family: 'open_sansregular';
    font-size: 14px;
    background: url("./img/link_arr.png") no-repeat 89px 0;
    float: right;
    margin-right: 41px;
    width: 100px;
}
.email{
    width: 400px;
    margin-left: 54px;
    margin-top: 60px;
    font:13px 'open_sansregular';
    color: #6a6a6b;
    line-height: 22px;

}
.part{
    position: relative;
    width: 312px;
    height: 100px;
    margin-left: 54px;
    margin-top: 13px;
    font:13px 'open_sansregular';
    color: #6a6a6b;
    line-height: 22px;
    float: left;
}
.wr{
    float: left;
    width: 378px;
}
.email img, .part img{
    position: absolute;
    margin-left: -52px;
}
.email a, .part a{
    color: #f85548;
    text-decoration: none;
}

.email a, .part a:hover{
    text-decoration: underline;
}

#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}

#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

#cboxOverlay{background:#000;}
#colorbox{outline:0;}




/*******************.inline_content**************************/
.inline_content, .inline_content2{
    background: #ecf6f0;
    padding-bottom:30px;
}
.inline_content h5, .inline_content2 h5 {
    font:33px 'open_sansregular';
    color: #f85548;
    padding-top: 29px;
    float: left;
}
.inline_content .top_n span, .inline_content2 .top_n span{
    font:22px 'open_sanssemibold';
    display: block;
    color: #f85548;
}
.inline_content .block_top ul li, .inline_content2 .block_top ul li{
    float: left;
    width: 24%;
    padding-left: 24px;
    font:14px 'open_sansregular';
    color: #6a6a6b;
    list-style: none!important;
    line-height: 25px;

}
.inline_content span, .inline_content2 .block_top span{
    font:14px 'open_sanssemibold';
    display: block;
    color: #373a3f;
}
.block_top{
    margin-top: 13px!important;
    background: #e1e6eb;
    border-top: 1px solid #c8d1d6;
    border-bottom: 1px solid #c8d1d6;
    width: 700px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 19px;
    margin-bottom: 20px;

}
.block_top ul li img{
    margin-left: 11px;
    margin-top: -2px;
    position: absolute;
}


.inline_content ul h1, .inline_content h3, .inline_content2 ul h1, .inline_content2 h3{
    text-transform: uppercase;
    font-family: 'open_sansbold';
    font-size: 16px;
    color: #6a6e75;
    padding: 20px 0 10px 0;
}
.inline_content ul li, .inline_content2 ul li{
    padding-bottom: 5px;
}
.inline_content ul li, .inline_content p, .inline_content2 ul li, .inline_content2 p{
    list-style: outside;
    font: 13px 'open_sansregular';
    color: #6a6a6b;
}
.inline_content p, .inline_content2 p{
    padding-bottom: 25px;
}
.inline_content2{
    width: 800px;
    border: 1px solid #daeeee;
    margin-top: 30px;
}
.inline_content a:hover{
    text-decoration: underline;
    color: #ffffff;
}
div.top_r{
    width: 246px;
    float: right;
    margin-top: 35px;
}
.top_r button {
    background: url(./img/button.png) repeat-x;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 35px;
    display: block;
    width: 193px;
    text-decoration: none;
    float: right;
    color: #ffffff;
    font:14px 'open_sansregular';
    padding-right: 30px;

}
.top_r button:hover{
    text-decoration: underline;
    cursor: pointer;
}
.top_r img{
    float: left;
    margin-top: -5px;
}

#colorbox {
    top: 150px !important;
}


.w700{
    width: 700px;
    margin: 0 auto;
}
.news_n{
    width: 304px;
    float: left;
    margin-right: 34px;
}
.news_n ul li{
    background: #ffffff;
    margin-bottom: 30px;
    padding: 22px 20px 41px 20px;
}
.news_n ul li img{
    margin-left: -20px;
    margin-top: -22px;
}
.news_n ul li span{
    display: block;
    font:13px 'open_sansregular';
    color: #6a6e75;
    text-align: center;
    padding: 10px 0 10px 0;
}
.news_n ul li a {
    display: block;
    font:16px 'open_sansbold';
    color: #6a6e75;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 34px;
    text-decoration: none;
}
.news_n ul li a:hover{
    text-decoration: underline;
}
.news_n ul li p{
    font:13px 'open_sansregular';
    text-align: center;
    line-height: 18px;
}
.last{
    margin-right: 0px;
}

.bott{
    float: right;
    margin-right: 27px;
}
.bott li{
    float: left;
    margin-right: 14px;
}
.bott li a{
    text-decoration: none;
    font:13px 'open_sansregular';
    color: #6a6a6b;
}

#cboxClose {
    display: none;
}



/*********************index3**********************/
.newCo_h1{
    width: 100%;
    padding: 50px 0 30px 0;
    position: relative;
}
.newCo_h1 h1
{
    display:inline-block;
    font-family: 'open_sanscondensed_light';
    font-size: 32px;
    color: #373a3f;
    text-transform: uppercase;
    padding:0 20px 0 0;
    line-height:50px;
    vertical-align:top;
}
.newCo_h1 img
{
    display:inline-block;
    margin-top:3px;
}
.vacancy_top{
    border-top: 1px solid #c8d1d6;

}
/************************contacts**********************/
.maps_top{
    background: #e1e6eb ;

}
.shadow{
    height: 16px;
    width: 980px;
    background: url("./img/shadow.png");
    margin-top: -10px;

}
.contacts1{
    position: relative;
    float: left;
    width: 27%;
    margin-left: 51px;
    margin-top: 21px;
    padding-right: 15px;

}
.contacts1 p{
    font:14px 'open_sansregular';
    color: #373a3f;
    padding-bottom: 22px;
    margin-left: 10px;
    line-height: 25px;

}
.first_c p{
    padding-bottom: 5px!important;
}
.contacts1 p img, .contacts1 img{
    margin-left: -30px;
    margin-right: 15px;
    float: left;
}

.contacts1 p span{
    display: block;
    margin-left: 10px;
    line-height: 25px;
}
.con2 p{
    font:16px 'open_sansregular'!important;

}

.left_photo{
    position: relative;
    width: 372px;
    height: 440px;
    float: left;
    border-bottom: 1px solid #c8d1d6;
}
.left_photo img{
    position: absolute;
}
.left_photo img.ph1{
    top: 75px;
    left: 11px;
}
.left_photo img.ph2{
    top: 143px;
    left: 229px;
}
.left_photo img.ph3{
    top: 219px;
    left: 97px;
}
.r_form{
    width: 570px;
    float: right;
    margin-top: 55px;
}
input.in_1 {
    width: 560px;
    height: 45px;
    padding-left: 15px;

}
input.in_2{
    width: 268px;
    float: left;
    height: 45px;
    padding-left: 15px;

}
.inp_right{
    float: right!important;
    margin-right: -7px;
}
.r_form form textarea{
    width: 558px;
    height: 335px;
    background: #ffffff;
    border-bottom: none;
    border-right: none;
    padding-left: 15px;
    padding-top: 15px;
}
.r_form input, textarea{
    border-top:1px solid #d6dde0;
    border-left:1px solid #d6dde0;
    text-transform: uppercase;
    text-align: center;
    font:12px 'open_sansregular';
    color: #6a6e75;
    margin-bottom: 4px;
}
.butt_c{
    background: url(./img/button.png) repeat-x;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 35px;
    display: block;
    width: 193px;
    text-decoration: none;
    float: right;
    color: #ffffff;
    font: 14px 'open_sansregular';
    padding-right: 30px;
    margin-top: 15px;

}
button.butt_c:hover{
    text-decoration: underline;
    cursor: pointer;
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -65px auto 0;
	min-width: 980px;
	height: 65px;
	background: #41484f;
	position: relative;
}
.footer a:hover{
	text-decoration: none;
}
/***********/
.footer ul li{
    font-family: 'open_sansregular';
    font-size: 11px;
    color: #cccccc;
    float: left;
    padding-right: 137px;
    padding-top: 12px;
    text-shadow: 4px 3px 2px rgba(0, 0, 0, 0.3);
}
.footer ul li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #cccccc;
    text-shadow: 4px 3px 2px rgba(0, 0, 0, 0.3);
    padding-top: 0px!important;
}
#spacer {
    height:100px;
}

.nom_tel, .e-mind {
	color: #ffffff !important;
}
.e-mind span{
	color: #cccccc;
}
.e-mind{
	padding-right: 0px  !important;
	padding-left: 75px;
    float: right!important;

}
.e-mind a{
	float: none;

}



.clear{
	clear: both;
}
