<!DOCTYPE html>

<%@ Master Language="C#" Inherits="Bitrix.UI.BXMasterPage" %>

<html>
<head id="Head1" runat="server">
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <meta name="keywords" content="<%= Encode(Keywords["keywords"]) %>" />
    <meta name="description" content="<%= Encode(Keywords["description"]) %>" />
    <link rel="stylesheet" type="text/css" href="<%=ResolveUrl("fonts/font.css")%>" />
    <title></title>
    <script type="text/javascript" src="<%=ResolveUrl("js/jquery-1.7.2.min.js")%>"></script>
    <script type="text/javascript" src="<%=ResolveUrl("js/slider.js")%>"></script>
    <script type="text/javascript" src="<%=ResolveUrl("js/main.js")%>"></script>
</head>
<body> <form id="form1" runat="server"> <bx:TemplateRequisite runat="server" ID="Requisite" /> 
  <div class="wrapper"> 
    <div class="header "> 
      <div class="w980"> 
<bx:IncludeComponent
 ID="systempublicmenu1"
 runat="server"
 ComponentName="bitrix:system.PublicMenu"
 template="top_first"
 Depth="1"
 MenuTypes="top"
 Url=""
 /> 
        <ul class="lang"> 
          <li class="fir">HU 
            <ul class="l_nt"> 
              <li><a href="/" >UA</a></li>
             </ul>
           </li>
         </ul>
       </div>
     </div>
   
<!-- .head-->
 
    <div class="search"> 
      <div class="w980"> <a href="/hu/" ><img src="<%=ResolveUrl("img/logo.png")%>"  /></a> 
                <p> 
          <br />
         </p>
       
        <ul> 
<script type="text/javascript" src="http://www.24webclock.com/clock24.js"></script>
<table border="0" bgcolor="#FFFFFF" cellspacing=1 cellpadding=3 class="clock24st" style="line-height:14px; padding:0;">
<tr><td bgcolor="#4C4C4C" class="clock24std" style="font-family:arial; font-size:16px;"><a href="http://www.24webclock.com/de/"></a> <a href="http://www.24webclock.com/" style="text-decoration:none;"><span class="clock24s" id="clock24_84852" style="color:#FFFFFF;">website clock</span></a></td></tr>
</table>
<script type="text/javascript">
var clock24_84852 = new clock24('84852',60,'%dd / %M / %yyyy %W %hh:%nn:%ss','en');
clock24_84852.daylight('HU'); clock24_84852.refresh();
</script> </ul>
<bx:IncludeComponent
 id="searchform2"
 runat="server"
 componentname="bitrix:search.form"
 template="main"
 SearchUrlTemplate="/hu/search?q=#query#"
 /> 


        </div>
      </div>

   <%--search--%> 
    <div class="slider"> 
<bx:IncludeComponent
 id="newslist1"
 runat="server"
 componentname="bitrix:news.list"
 template="slider_main"
 IBlockId="7"
 PagingRecordsPerPage="20"
 IBlockTypeId="4"
 ShowDetailText="False"
 HideLinkWhenNoDetail="False"
 ActiveDateFormat="dd.MM.yyyy"
 ShowDate="True"
 SetTitle="False"
 ShowTitle="False"
 PreviewTruncateLen=""
 ShowPreviewPicture="True"
 ShowPreviewText="True"
 PropertyCode=""
 SortOrder2="Desc"
 SortOrder1="Desc"
 SortBy2="Sort"
 SortBy1="ActiveFromDate"
 ParentSectionId="6"
 IncludeSubsections="True"
 ShowActiveElements="True"
 GroupPermissions="1"
 UsePermissions="False"
 DisplayPanel="False"
 DetailUrl="NewsDetail.aspx?id=#ELEMENT_ID#"
 PagingMinRecordsInverse="1"
 PagingMaxPages="10"
 PagingAllow="True"
 PagingMode="direct"
 PagingTemplate=".default"
 PagingShowOne="False"
 PagingAllowAll="False"
 PagingTitle="Страницы"
 PagingPosition="both"
 CacheDuration="31536000"
 CacheMode="Auto"
 /> </div>
   
    <div class="n_news"></div>
   
    <div class="content"> 
      <div class="w980"> <asp:ContentPlaceHolder ID="BXContent" runat="server" /> </div>
     
      <div id="spacer"></div>
     </div>
   
<!-- .conten-->
 </div>
 
<!-- .wrappe-->
 
  <div class="footer"> 
    <div class="w980"> 
      <ul> 
        <li>&copy; 2013 C&eacute;g NewCo. Minden jog fenntartva. 
          <br />
         80 km from Transcarpathian capital Uzhgorod</li>
       
        <li><a href="#" >Elérhetőségi inform&aacute;ci&oacute;k</a> Тел. +7 (999) 123-45-67</li>
       
        <li class="last_c">Создание сайта &mdash;<a href="http://e-mind.ru/" target="_blank" > WEB-студия E-mind</a></li>
       </ul>
     </div>
   </div>
 
<!-- .foote-->
 </form> </body>
</html>