<?xml version="1.0" encoding="utf-8" ?>
<solutions>
	<solution id="Bitrix.CorporateSite" path="solution_furniture" sort="200">
		<title>Корпоративный сайт: производство</title>
		<description>
		<![CDATA[
		<p>Готовое решение содержит базовый функционал, необходимый для сайта компании, производящей любые типы продукции.</p>
		<p>Сайт компании дает возможность размещать новости, каталог товаров, список услуг.</p>
		]]>
		</description>
		<image>solution_furniture/images/solution.png</image>
	</solution>
	<solution id="Bitrix.BankSite" path="solution_bank" sort="200">
		<title>Корпоративный сайт: сфера услуг</title>
		<description>
		<![CDATA[
		<p>Готовое решение содержит базовый функционал, необходимый для сайта компании, основной деятельностью которой является предоставление каких-либо услуг.</p>
		<p>Сайт компании сферы услуг предоставляет возможность размещать детальную информацию об услугах и новости,а также организует обратную связь с клиентами. </p>
		]]>
		</description>
		<image>solution_bank/images/solution.png</image>
	</solution>
</solutions>