<!DOCTYPE html>

<%@ Master Language="C#" Inherits="Bitrix.UI.BXMasterPage" %>

<html>
<head id="Head1" runat="server">
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <meta name="keywords" content="<%= Encode(Keywords["keywords"]) %>" />
    <meta name="description" content="<%= Encode(Keywords["description"]) %>" />
    <link rel="stylesheet" type="text/css" href="<%=ResolveUrl("fonts/font.css")%>" />
    <title></title>
    <script type="text/javascript" src="<%=ResolveUrl("js/jquery-1.7.2.min.js")%>"></script>
    <script type="text/javascript" src="<%=ResolveUrl("js/slider.js")%>"></script>
    <script type="text/javascript" src="<%=ResolveUrl("js/main.js")%>"></script>
</head>
<body>
    <form id="form1" runat="server">
    <bx:TemplateRequisite runat="server" ID="Requisite" />
    <div class="wrapper">
        <div class="header ">
            Знову хеллова, може кеш чи що
            <div class="w980">
                <bx:IncludeComponent ID="systempublicmenu1" runat="server" ComponentName="bitrix:system.PublicMenu"
                    template="top_first" Depth="1" MenuTypes="top" Url="" />
                <ul class="lang">
                    <li class="fir">ru
                        <ul class="l_nt">
                            <li><a href="/hu/">HU</a></li>                           
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- .header-->
        <div class="search">
            <div class="w980">
                <a href="/"><img src="<%=ResolveUrl("img/logo.png")%>"></a>
                <ul>
                    <li><a href="#">
                        <img src="<%=ResolveUrl("img/f.png")%>" alt="Facebook"/></a></li>
                    <li><a href="#">
                        <img src="<%=ResolveUrl("img/twitter.png")%>" alt="Twitter"/></a></li>
                    <li><a href="#">
                        <img src="<%=ResolveUrl("img/goo.png")%>" alt="Goo+"/></a></li>
                    <li><a href="#">
                        <img src="<%=ResolveUrl("img/rss.png")%>" alt="RSS"/></a></li>
                </ul>
                <bx:IncludeComponent
                 id="searchform2"
                 runat="server"
                 componentname="bitrix:search.form"
                 template="main"
                 SearchUrlTemplate="/ru/search?q=#query#"
                 />
            </div>
        </div><%--search--%>
        <div class="slider">
		<%--Модуль понятно чого, судячи з усього то ся лишає--%>
        <bx:IncludeComponent
         id="newslist1"
         runat="server"
         componentname="bitrix:news.list"
         template="slider_main"
         IBlockId="7"
         PagingRecordsPerPage="20"
         IBlockTypeId="4"
         ShowDetailText="False"
         HideLinkWhenNoDetail="False"
         ActiveDateFormat="dd.MM.yyyy"
         ShowDate="True"
         SetTitle="False"
         ShowTitle="False"
         PreviewTruncateLen=""
         ShowPreviewPicture="True"
         ShowPreviewText="True"
         PropertyCode=""
         SortOrder2="Desc"
         SortOrder1="Desc"
         SortBy2="Sort"
         SortBy1="ActiveFromDate"
         ParentSectionId="3"
         IncludeSubsections="True"
         ShowActiveElements="True"
         GroupPermissions="1"
         UsePermissions="False"
         DisplayPanel="False"
         DetailUrl="NewsDetail.aspx?id=#ELEMENT_ID#"
         PagingMinRecordsInverse="1"
         PagingMaxPages="10"
         PagingAllow="True"
         PagingMode="direct"
         PagingTemplate=".default"
         PagingShowOne="False"
         PagingAllowAll="False"
         PagingTitle="Страницы"
         PagingPosition="both"
         CacheDuration="31536000"
         CacheMode="Auto"
         />
        </div>

        <div class="n_news"></div>

        <div class="content">
                <div class="w980">
				<%--Тоже понятно, єдине - уточнити як ся по новому блоки кличуть--%>
                    <asp:ContentPlaceHolder ID="BXContent" runat="server" />
                </div>
            <div id="spacer"></div>
        </div><!-- .content -->
    </div><!-- .wrapper -->
    <div class="footer">
        <div class="w980">
            <ul>
                <li>© 2013 Компания newco. Все права защищены.<br />
                    80 km from Transcarpathian capital Uzhgorod</li>
                <li><a href="#">Контактная информация</a> Тел. +7 (999) 123-45-67</li>
				<%--Но а туйки нич не ясно... Що за студія - ХЗ. Треба як мінімум Рішко інк.--%>
                <li class="last_c">Создание сайта —<a href="http://e-mind.ru/" target="_blank"> WEB-студия E-mind</a></li>
            </ul>
        </div>
    </div><!-- .footer -->
    </form>
</body>
</html>