<?xml version="1.0" encoding="utf-8" ?>
<assemblies>
	<module>Main.Mvc</module>
	<private>		
		<library>Microsoft.Web.Infrastructure</library>
		<library>System.Web.Helpers</library>
		<library>System.Web.Mvc</library>
		<library>System.Web.Razor</library>
		<library>System.Web.WebPages.Deployment</library>
		<library>System.Web.WebPages</library>
		<library>System.Web.WebPages.Razor</library>
	</private>
</assemblies>