<?xml version="1.0" encoding="utf-8"?>
<BXUpdaterConfig>
	<useProxy>False</useProxy>
	<proxyAddress />
	<proxyUsername />
	<proxyPassword />
	<updateUrl>http://www.1c-bitrix.ru</updateUrl>
	<stableVersionsOnly>True</stableVersionsOnly>
	<key>NET-MS-RVS32APUBERK0Y2Q</key>
	<version>8.0.0</version>
	<proso>UmtMZ1Q0VzFvQQ==</proso>
	<language>ru</language>
	<autoStart>False</autoStart>
	<initialPollInterval>30</initialPollInterval>
	<pollInterval>3600</pollInterval>
	<downloadOnDetection>False</downloadOnDetection>
	<databaseOwner>dbo.</databaseOwner>
	<connectionString />
	<lastUpdateCheck>2016-01-18 21:29:41</lastUpdateCheck>
	<lastUpdateDownload>2014-01-21 23:48:44</lastUpdateDownload>
	<lastUpdateInstall>2014-02-05 21:00:13</lastUpdateInstall>
	<notificationEmail />
	<safeUpdating>True</safeUpdating>
	<applyLicences />
	<currentModules />
</BXUpdaterConfig>