@using System.Drawing
@model Bitrix.Search.Components.SearchTagsCloudComponent2

@if (Model.Tags.Count > 0)
{
    <div class="rounded-block">
        <div class="corner left-top"></div>
        <div class="corner right-top"></div>
		<div class="block-content">
			<div class="search-cloud">
				<noindex>
				@foreach (var tag in Model.Tags)
                {
                    string fontSize = string.Empty;
                    string tagcolor = string.Empty;
                    if (tag.FontSize > 0)
                    {
                        fontSize = "font-size: " + tag.FontSize + "px;";
                    }

                    if (tag.Color != Color.Empty)
                    {
                        tagcolor = "color: " + ColorTranslator.ToHtml(tag.Color) + ";";
                    }
                    <a rel="nofollow" onmouseover="this.style.borderBottom = 'solid 1px' " onmouseout=" this.style.borderBottom =''" href="@tag.Href" 
                       style="text-decoration: none; margin-right: 5px; @fontSize @tagcolor" rel="nofollow">@tag.Tag.Name</a>
                }
				</noindex>
			</div>
		</div>
        <div class="corner left-bottom"></div>
        <div class="corner right-bottom"></div>
    </div>	
}