<?xml version="1.0" encoding="utf-8" ?>
<solutions>
	<solution id="Bitrix.PersonalSite" path="solution" sort="100">
		<title>Персональный сайт</title>
		<description>
		<![CDATA[
		<p>Готовое решение содержит базовый функционал, необходимый для создания личного представительства в Интернете.</p>
		<p>Персональный сайт дает возможность вести блоги, фотогалерею и давать обратную связь для посетителей.</p>
		]]>
		</description>
		<image>solution/images/solution.png</image>
	</solution>
</solutions>