<?xml version="1.0"?>
<BXUpdaterManifest>
	<state>
		<type>Idle</type>
		<phase>Complete</phase>
		<updateFailureEncoutered>False</updateFailureEncoutered>
		<updateFailureCount>0</updateFailureCount>
		<downloadSource></downloadSource>
		<downloadDestination></downloadDestination>
		<downloadDestination></downloadDestination>
	</state>
	<tempFolder></tempFolder>
</BXUpdaterManifest>
